.title{
    font-size: 30px;
    font-family: 'Times New Roman';
    font-weight: bold;
}

.offset-top{
    margin-top: 20px;
}

.offset-top-40 {
    margin-top: 40px;
}

.offset-left {
    margin-left: 20px;
}

.parent-block{
    display: inline-block;
    margin-top: 30px;
}

.child-block{
    float: left;
}

.position-right{
    margin-left: 1150px;
}

.item-form {
    width: 300px;
    margin-left: 580px;
}

.picture {
    width: 250px;
    height: 250px;
}

.div-block{
    width: 32%;
    height: 500px;
}

.text-name {
    font-size: 17px;
    font-family: 'Times New Roman';
    font-weight: bold;
    margin-top: 15px;
}


.text-desc-price {
    font-size: 17px;
    font-family: 'Times New Roman';
}

.full-width {
    width: 100%;
}

.text-filter {
    font-size: 22px;
    font-family: 'Times New Roman';
    font-weight: bold;
    margin-top: 15px;
}

.width-price-input{
    width: 100px;
}

.text-type {
    font-size: 17px;
    font-family: 'Times New Roman';
}

.cart {
    font-size: 30px;
    font-family: 'Times New Roman';
    font-weight: bold;
    margin-left: 100px;
    margin-bottom: 30px;
}

.cart-table {
    width: 1140px;
    margin-left: 75px;
}

.text-main {
    font-size: 20px;
    font-family: 'Times New Roman';
    margin-left: 20px;
}

.footer-color{
    background-color: black
}

.footer-text {
    font-size: 20px;
    font-family: 'Times New Roman';
    color: white;
}
