@model Furniture

@{
    ViewBag.Title = "Редактирование";
    Layout = "_AdminLayout";
}

<form asp-action="Edit" method="post" class="text-center">
    <input asp-for="ID" type="hidden" />
    <div class="form-group" style="width: 200px; margin-left: 580px">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group" style="width: 200px; margin-left: 580px">
        <label asp-for="CategoryID"></label>
        <div><span asp-validation-for="CategoryID" class="text-danger"></span></div>
        <input asp-for="CategoryID" class="form-control" />
    </div>
    <div class="form-group" style="width: 200px; margin-left: 580px">
        <label asp-for="TypeID"></label>
        <div><span asp-validation-for="TypeID" class="text-danger"></span></div>
        <input asp-for="TypeID" class="form-control" />
    </div>
    <div class="form-group" style="width: 200px; margin-left: 580px">
        <label asp-for="Price"></label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group" style="width: 200px; margin-left: 580px">
        <label asp-for="Description"></label>
        <div><span asp-validation-for="Description" class="text-danger"></span></div>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group" style="width: 200px; margin-left: 580px">
        <label asp-for="Image"></label>
        <div><span asp-validation-for="Image" class="text-danger"></span></div>
        <input asp-for="Image" class="form-control" />
    </div>
    <div class="text-center">
        <button type="submit" class="Ьtn Ьtn-primary" style="width: 90px">Сохранить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </div>
</form>
