@model Order


@{
    ViewBag.Title = "Оформление заказа";
    Layout = "_Layout";
}

<link rel="stylesheet" asp-href-include="css/style.css" />
<link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*min.css" />

<h3 class="cart">
    @ViewBag.Title
</h3>

<p class="p-2 text-center" style="font-family:'Times New Roman'; font-size: 15px; margin-bottom: 20px">
    Пожалуйста, заполните поля, и мы отправим Вам товары прямо сейчас!
</p>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Checkout" method="post" class="text-center">
    <div class="form-group" style="width: 250px; margin-left: 550px">
        <label>Имя:</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <h3>Адрес</h3>
    <div class="form-group" style="width: 250px; margin-left: 550px">
        <label>Line1:</label>
        <input asp-for="Line1" class="form-control" />
    </div>
    <div class="form-group" style="width: 250px; margin-left: 550px">
        <label>Line2:</label>
        <input asp-for="Line2" class="form-control" />
    </div>
    <div class="form-group" style="width: 250px; margin-left: 550px">
        <label>Line3:</label>
        <input asp-for="Line3" class="form-control" />
    </div>

    <div class="form-group" style="width: 250px; margin-left: 550px">
        <label>Страна:</label>
        <input asp-for="Country" class="form-control" />
    </div>
    <div class="form-group" style="width: 250px; margin-left: 550px">
        <label>Город:</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group" style="width: 250px; margin-left: 550px">
        <label>Почтовый индекс:</label>
        <input asp-for="Zip" class="form-control" />
    </div>

    <div class="text-center" style="margin-top: 30px">
        <input class="btn btn-primary" type="submit" value="Отправить" />
    </div>
</form>
