<h2 class="p-2 text-center" style="font-family:'Times New Roman'; font-size: 20px;
    font-weight:bold; margin-bottom: 20px">
    Спасибо!
</h2>

<p class="p-2 text-center" style="font-family:'Times New Roman'; font-size: 15px; margin-bottom: 20px">
    Спасибо за Ваш заказ.
</p>

<p class="p-2 text-center" style="font-family:'Times New Roman'; font-size: 15px; margin-bottom: 20px">
    Мы отправим Ваш заказ как можно быстрее.
</p>
