@model IEnumerable<TypeFurniture>

<script src="~/js/script.js"></script>

<div class="text-center child-block text-name" style="width: 25%">
    <hЗ class="text-filter">Фильтр</hЗ>
    <form method="post" asp-action="Filter" asp-controller="Home">
        <div class="text-center">
            <label class="text-name">Выберите тип</label> <br />
            @foreach (var item in Model)
            {
                <label>
                    @item.Type
                    @*asp-route-categoryId="@Model.First().CategoryID"*@
                    <input name="id" type="hidden" value="@item.ID" asp-for="@item.ID" class="form-control" />
                    <input name="check" type="checkbox" onclick="getTypes()" />
                </label>
            }
        </div>
        <div>
            <label class="text-name">Выберите диапазон цен</label>
            <div class="parent-block">
                <input name="price1" class="child-block width-price-input" type="text" />
                <label class="child-block offset-left">—</label>
                <input name="price2" class="child-block width-price-input offset-left" type="text" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary offset-top">Показать</button>

        <div id="selectedTypes"></div>
    </form>
    
</div>