@{
    ViewBag.Title = "Интернет-магазин \"Furniture Shop\"";
    Layout = "_Layout";
}

<div class="offset-left">
    <hЗ class="title">@ViewBag.Title</hЗ>
</div>

<div class="text-center offset-top-40">
    <img src="https://www.anypics.ru/download.php?file=201211/1366x768/anypics.ru-41534.jpg" height="640" width="1138"/>
    <p class="offset-top text-main">
        Furniture Shop — это молодая компания, приоритетным направлением которой является максимально высокий уровень сервиса
        <br /> и поставка высококачественной мебели, для вашего дома и офиса по максимально низким ценам. Гарантия лучшей цены в городе! <br />
        Наша компания напрямую работает с ведущими зарубежными и отечественными производителями мебели по всей России и Казахстану, <br /> что позволяет предложить Вам самые низкие цены и большой ассортимент товара от эконом до премиум класса.<br />
        Наши производители мебели используют современное оборудование, большие производственные мощности <br /> и оригинальные дизайнерские решения, тем самым предлагая самую интересную и разнообразную продукцию. <br />
        Заказав мебель у нас, Вы останетесь довольны!
    </p>
</div>

<footer class="footer-color offset-top">
    <div class="parent-block offset-left">
        <div class="child-block" style="width: 300px">
            <p class="footer-text">Контактная информация</p>
        </div>
        <div class="child-block" style="width: 200px; margin-top: 10px">
            <p class="footer-text">7(953)775-01-83</p>
            <p class="footer-text">furniture@gmail.com</p>
        </div>
        <div class="child-block" style="width: 300px; margin-left: 1100px; margin-top: 20px">
            <p class="footer-text">© FurnitureShop, 2021</p>
        </div>
    </div>
</footer>
