@{
    ViewBag.Title = "Интернет-магазин \"Furniture Shop\"";
    Layout = "_Layout";
}

<div class="offset-left">
    <hЗ class="title">@ViewBag.Title</hЗ>
</div>

<div class="text-center offset-top">
    <img src=""/>
    <p>
        Какой то текст
    </p>
</div>

<div class="offset-left">
    Подвал
</div>
