<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="css/style.css" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*min.css" />
</head>
<body>
    <div class="offset-top" style="display: inline-block">
        <hЗ class="title offset-left" style="float: left;">@ViewBag.Title</hЗ>
        <div style="float: left; margin-left: 1150px; margin-top: 30px">
            <a class="btn btn-sm btn-primary" asp-action="Logout" asp-controller="Account">Выход</a>
        </div>

        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
