<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*min.css" />
    <link rel="stylesheet" href="~/css/style.css"/>

    <script src="~/js/script.js"></script>
</head>
<body>
    <div class="parent-block">
        <div class="offset-top offset-left child-block">
            <hЗ class="title">@ViewBag.Title</hЗ>
        </div>
        <div class="position-right" style="margin-top: 25px">
            <a class="btn btn-sm btn-primary" asp-action="Logout" asp-controller="Account">Выход</a>
        </div>

        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
